@keyframes loading {
form {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
#check {
    display: flex;
    align-items: center;
}
.check-refresh {
    animation: loading 1.5s linear 0ms infinite normal backwards;
    width: 20px;
    margin-left: 5px;
    fill: #fff;
}



@keyframes animateOpen {
    0% {
        opacity: 0;
        top: -100%;
        transform: rotateX(90deg);
        background-color: rgba(0,0,0,0);
    }
    50% {
        opacity: 0.4;
        background-color: rgba(0,0,0,0.2);
    }
    100% {
        top: 0;
        opacity: 1;
        transform: rotateX(0);
        background-color: rgba(0,0,0,0.4);
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    perspective: 600px;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    
}

.modal.active {
    transform-style: preserve-3d;
    animation: animateOpen 0.5s ease-out 0ms 1;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
    @media (max-width: 1000px) {
.modal-content {
    width: 60%;
}
}
@media (max-width: 800px) {
.modal-content h3{
    font-size: 1.3em;
}
}
@media (max-width: 480px) {
.modal-content {
    width: 80%;
}
}
@media (max-width: 350px) {
.modal-content {
    width: 90%
}
}
.example {
    border-bottom: 1px dashed #344767;
    cursor: pointer;
}
.example:hover {
    border-bottom: none;
}



.card__main-wrapper {
    display: grid;
    grid-template-columns: 58% 40%;
    gap: 2%;
}

#clear, #newRequest {
    padding: 7px 15px;
}

.card__header {
    display: flex;
    justify-content: space-between;
}

.card__main {
    display: flex;
    gap: 15px;
}

.card__main-img {
    flex: 1 0 150px;
}

@media (max-width: 800px) {
    .card__main {
        display: block;
    }
    .card__main-img {
        width: 60%;
        margin: 0 auto;
    }
}

.card__main-img > img {
    width: 100%;
}

.card__main-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 13px;
}

.info__title {
    text-align: right;
    font-weight: 700;
}

.show-btn-wrapper {
    overflow: hidden;
}

.verif-text {
    margin-top: 30px;
}

.check {
    margin: 20px auto;
    float: right;
}

.show-btn {
    margin: 20px 50px;
}

.show-btn-wrapper {
    transition: all 250ms ease;
}

.card__wrapper {
    position: relative;
}

.test__text {
    position: sticky;
}


.result {
    margin-top: 20px;
}
.row {
    display: grid;
    gap: 20px;
}
.row .card, .row .card-body {
    padding: 5px;
}
@media (min-width: 650px) {
    .row-1 {
        grid-template-columns: 1fr 1fr;
    }
}
.window__header {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 700;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.window {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.window__list > li{
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
}



.info__desk {
    font-size: 0.9em;
}
.card__buttons {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}
.card__main-img {
    border-radius: 8px;
    overflow: hidden;
}
.card__main-img img {
    transition: all 0.4s ease;
}
.card__main-img img:hover {
    transform: scale(1.05);
}
.card-tips {
    font-size: 0.9em;
}
.card-text {
    color: #344767;
}
@media (max-width: 1100px) {
    .card__main-wrapper {
        display: block
    }
    .getWidth {
        margin-top: 25px
    }
}
.window__helper {
    margin-left: 8px;
}
#getTemplate {
    border-bottom: 1px dashed #aaa;
    cursor: pointer;
    transition: all 0.2s ease;
}
#getTemplate:hover {
    color: #444;
    border-bottom: 1px dashed #444;
}
.good-info__form.activeEdit .text-input {
    display: none;
}
.good-info__form input, .good-info__form textarea {
    display: none;
}
.good-info__form.activeEdit input, .good-info__form.activeEdit textarea {
    display: block;
}

.text-input {
    min-height: 40px;
    border: 1px dashed #d7d7d7;
    border-radius: 10px;
    padding: 11px;
    padding-top: 8px;
    font-size: 0.88em;
    line-height: 1.58;
    max-height: 130px;
    overflow-y: auto;
    color: #585858;
} 


/* СТИЛИ ПОДСКАЗОК*/
    .bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[x-placement^="top"] .tooltip-arrow::before {
    border-top-color: #aaa; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[x-placement^="right"] .tooltip-arrow::before {
    border-right-color: #aaa; /* цвет стрелочки (по умолчанию #000)*/
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow::before {
    border-bottom-color: #aaa; /* цвет стрелочки (по умолчанию #000) */
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[x-placement^="left"] .tooltip-arrow::before {
    border-left-color: #aaa; /* цвет стрелочки (по умолчанию #000) */
}
.tooltip-inner {
    max-width: 25vw; /* максимальная ширина подсказки (по умолчанию 200px) */
    color: #666; /* цвет шрифта */
    background: #fff; /* цвет фона (по умолчанию #000) */
    border: 1px solid #d7d7d7;
    box-shadow: 0 0px 15px -7px rgb(0 0 0); 
    border-radius: 15px; /* радиус скругдения углов */
    
}
.tooltip.show{
    opacity: 1 !important;
}
@media (max-width: 600px) {
    .tooltip-inner {
        max-width: 45vw; /* максимальная ширина подсказки (по умолчанию 200px) */
    }
}



mark {
    background: rgb(199,255,4);
    background: linear-gradient(90deg, rgba(199,255,4,1) 0%, rgba(255,235,4,1) 100%);
    color: #67748e;
    border-radius: 5px;
}
.pop-up-find {
    display: block;
    position: fixed;
    top: -30%;
    right: 0;
    z-index: 9999;
    border: 1px solid #747474;
    box-shadow: 0px 0px 10px #7c7c7ca1;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    transition: all 1s ease;
}
.pop-up-find-body {
    display: flex;
    padding: 0.6em !important;
}
.pop-up-find.show {
    top: 0;
}
    
.find-control {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.find-control > svg {
    height: 30px;
    width: 30px;
    margin: 7px;
    padding: 5px;
    background: #eee;
    box-shadow: 0 0 10px -4px #000;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.find-control > svg:hover {
    box-shadow: 0 0 15px -4px #000;
    padding: 2px;
}
.find-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #a0a0a0;
    gap: 5em;
}
#find-minus {
    transform: rotate(180deg);
}
.edit-fields .d-flex {
    gap: 10px;
    align-items: center;
}
.text-input-flex {
    flex: 1 1 85%;
}
.tooMuchSymbols {
    color: rgb(255, 171, 171);
}

.bg-danger {
    background: rgba(255,229,229,.5) !important;
}



.customSwal {
    position: fixed;
    box-shadow: 0 0 25px -11px #0006;
    top: 30px;
    width: 25vw;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s ease;
    background: #ffa7a7;
    z-index: 9998;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.customSwal.active {
    right: -10px;
    transform: translateX(0%);
}
.customSwal__icon svg{
    height: 40px;
}
.customSwal__icon path {
    fill: #e36767;
}
.customSwal__text {
    margin-left: 15px;
    font-size: 1.2em;
    padding-right: 5vw;
    color: #fff;
}
html {
    overflow-x: hidden;
}
@media (max-width: 1100px) {
    .customSwal {
        width: 40vw;
    }
}
@media (max-width: 700px) {
    .customSwal {
        width: 65vw;
    }
}
