.form-control__custom {
    display: inherit;
    width: inherit;
    padding: 6px 0px 6px 30px !important;
    border-radius: 10px !important;
}
div.dataTables_filter {
    padding: 5px;
    padding-right: 1.5rem;
}
.dataTables_filter label {
    position: relative;
}
#dataTableSearch {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 18px;
    fill: #67748e;
}
