    <footer class="footer pt-3  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              {% comment %} &copy; <a target="_blank" href="https://eramp.io/">ERAMP</a> {% endcomment %}
              {% comment %} &copy; <a target="_blank" href="https://bit.ly/3fKQZaL">Marketplace Boost</a>. {% endcomment %}
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                {% comment %} <a href="https://eramp.io/" class="nav-link text-muted" target="_blank">ERAMP</a> {% endcomment %}
                {% comment %} <a href="https://bit.ly/3fKQZaL" class="nav-link text-muted" target="_blank">Marketplace Boost</a> {% endcomment %}
              </li>
              {% comment %} <li class="nav-item">
                <a href="https://t.me/blacro" class="nav-link text-muted" target="_blank">Помощь</a>
              </li>
              <li class="nav-item">
                <a href="https://t.me/blacro" class="nav-link text-muted" target="_blank">Контакты</a>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </footer>