{% load limits_bar %}
{% load static %}

<style>
  /* Изменение цвета заголовка бокового меню */
  .sidenav-footer #sidenavCard {
    background: linear-gradient(90deg, #28a745, #85e085); /* Зеленый градиент */
    color: #fff;
  }

  .sidenav-footer .btn:hover {
    background: linear-gradient(90deg, #218838, #6fcf6f); /* Темнее при наведении */
    color: #fff;
  }
  .nav-link.active .icon {
    background: linear-gradient(90deg, #28a745, #85e085) !important; /* Зеленый градиент для иконки */
    color: #fff; /* Белый цвет для иконки */
    border-radius: 50%; /* Закругляем фон иконки */
  }
  .nav-link.active svg {
    fill: #fff; /* Белый цвет для SVG-иконки */
  }


  
  .nav-link.active path {
    fill: #fff !important;
    color: #fff;
  }
  .nav-link.active i {
    filter: invert(1) contrast(2.5);
    opacity: 1;
  }
  .limit-left, .limit-max {
    font-weight: 600;
  }
  .limit-progressbar {
    width: 100%;
    background: #c7c7c7;;
    height: 12px;
    border-radius: 40px;
    opacity: 0.7;
  }
  .limit-progressbar__filled {
    border-radius: 40px;
    opacity: 1.5;
    width: 0;
    background: #fff;
    height: 12px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 10px 0 #fff;
    transition: all 1.2s ease;
    opacity: 0.75;
  }
  .limit {
    position: relative;
  }
  @media (max-width: 767px) {
    .limits {
      max-width: 300px;
      margin-left: 25px !important;
      margin-right: 0 !important;
    }
  }
  .limit-more:hover {
    text-decoration: underline !important;
  }
    @media (max-width: 1024px) {
    .sidebar-banner {
      width: 90%;
      margin: 0 auto;
    }
  }
  @media (max-width: 767px) {
    .sidebar-banner {
      margin: 0 0 0 25px;
      max-width: 300px;
      margin-right: 7px;
    }
  }
  .sidebar-banner {
      border-radius: 10px;
      display: block;
  }
  .anim-img.img-mobile {
      display: none;
    }
  
  @media (max-width: 1150px) {
    .navbar-banner {
      width: 95%
    }
  }
  .nav-item .nav-item {
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .new-style {
    position: absolute;
    width: 40px;
    top: 0;
    right: 16px;
    transform: rotate(40deg);
  }
</style>
<!-- ___________________КРЕСТИК_____________________ -->
<div class="exit-sidenav-mobile">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 30px;"><path fill="#ebebeb" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>
</div>
<!-- ___________________КРЕСТИК_____________________ -->


  <aside class="sidenav sidenav-primary navbar navbar-vertical navbar-expand-xs navbar-expand-sm navbar-expand-md navbar-expand-lg border-0 border-radius-xl my-3 fixed-start ms-3 sm-12" id="sidenav-main">
    
    <div class="sidenav-header">
  
      <a href="/" id="logo">
        <img src="/static/assets/img/logo.png" id="logo" style="position: inherit; margin-bottom: -60px;" class='w-md-90' width="200" height="60"  alt="main_logo">
      </a>
    </div>
    <hr class="horizontal dark">
    <div class="collapse {% if 'buyout' in segment %} show {% else %} false {% endif %} navbar-collapse  w-auto h-auto h-100" id="sidenav-collapse-main">
      <ul class="navbar-nav w-100">
        {% comment %}
        <li class="nav-item">
          <a href="https://t.me/+lygorZzTeFdmYjVi" target="_blank" class="sidebar-banner" style="overflow: hidden">
            <img src="{% static 'images/banner-mobile7.png' %}" class="anim-img img-mobile" alt="" style="width: 100%;transition: all 0.4s ease;cursor: pointer;">
          </a>
        </li>
        {% endcomment %}
        
        
        {% comment %} <li class="nav-item {% if 'delivery.html' in segment %} active {% endif %}"> {% endcomment %}
        <li class="nav-item guide5">
          <a class="nav-link {% if "projects" in request.get_full_path %} active {% endif %}" href="/projects">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M9.828 4a3 3 0 0 0-2.12-.879H1.5A1.5 1.5 0 0 0 0 4.5v7A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V6.5A1.5 1.5 0 0 0 14.5 5h-4.672a3 3 0 0 0-.879-1z"/>
              </svg>
              
            </div>
            <span class="nav-link-text ms-1">Проекты</span>
          </a>
        </li>

        <li class="nav-item guide5">
          <a class="nav-link {% if "list-recipient" in request.get_full_path %} active {% endif %}" href="/list-recipient">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 2.5a.5.5 0 0 1 .5.5v.5H1v-1h1.5zm-1 2a.5.5 0 0 1-.5-.5v-.5h1.5v1H1.5zM4 3.5a.5.5 0 0 1 .5-.5H15a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5zM2.5 7a.5.5 0 0 1 .5.5v.5H1v-1h1.5zm-1 2a.5.5 0 0 1-.5-.5v-.5h1.5v1H1.5zM4 8.5a.5.5 0 0 1 .5-.5H15a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5zM2.5 11a.5.5 0 0 1 .5.5v.5H1v-1h1.5zm-1 2a.5.5 0 0 1-.5-.5v-.5h1.5v1H1.5zM4 12.5a.5.5 0 0 1 .5-.5H15a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Получатели</span>
          </a>
        </li>
        <li class="nav-item guide6">
          <a class="nav-link {% if "/channels" in request.get_full_path %} active {% endif %}" href="{% url 'channels' %}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                <path d="M6.354 5.5H4a2.5 2.5 0 0 0 0 5h2.354a.5.5 0 0 1 0 1H4a3.5 3.5 0 0 1 0-7h2.354a.5.5 0 0 1 0 1zM9.646 5.5H12a3.5 3.5 0 0 1 0 7H9.646a.5.5 0 1 1 0-1H12a2.5 2.5 0 0 0 0-5H9.646a.5.5 0 1 1 0-1z"/>
                <path d="M6 8.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
              </svg>
              
            </div>
            <span class="nav-link-text ms-1">Каналы</span>
          </a>
        </li>
        <li class="nav-item guide4" id='guide4'>
          <a class="nav-link {% if "chat" in request.get_full_path %} active {% endif %}" href="/chat">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H4.414L1.707 14.707A1 1 0 0 1 0 14V2a1 1 0 0 1 1-1h13z"/>
                <path d="M3 8a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm4 0a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm4 0a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
              </svg>
              
            </div>
            <span class="nav-link-text ms-1">Диалоги</span>
          </a>
        </li>
  
        {% comment %} <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == "/referral/" %} active {% endif %}" href="/referral/">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"> 
              <i class="bi bi-cash-stack"></i>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                          <path class="color-background opacity-6" d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                          <path class="color-background" d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                        </svg>
                        <path class="color-background opacity-6" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
                        <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path> 
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1" style="white-space: normal;">Реферальная программа</span>
          </a>
        </li> {% endcomment %}


        {% if limits.course_autobuy %}
        <li class="nav-item">
          <a class="nav-link {% if "/lessons" in request.get_full_path %} active {% endif %}" href="{% url 'lessons' %}" 
             target="blank">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center" style="padding: 7px;">
              <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#525774" d="M623.1 136.9l-282.7-101.2c-13.73-4.91-28.7-4.91-42.43 0L16.05 136.9C6.438 140.4 0 149.6 0 160s6.438 19.65 16.05 23.09L76.07 204.6c-11.89 15.8-20.26 34.16-24.55 53.95C40.05 263.4 32 274.8 32 288c0 9.953 4.814 18.49 11.94 24.36l-24.83 149C17.48 471.1 25 480 34.89 480H93.11c9.887 0 17.41-8.879 15.78-18.63l-24.83-149C91.19 306.5 96 297.1 96 288c0-10.29-5.174-19.03-12.72-24.89c4.252-17.76 12.88-33.82 24.94-47.03l190.6 68.23c13.73 4.91 28.7 4.91 42.43 0l282.7-101.2C633.6 179.6 640 170.4 640 160S633.6 140.4 623.1 136.9zM351.1 314.4C341.7 318.1 330.9 320 320 320c-10.92 0-21.69-1.867-32-5.555L142.8 262.5L128 405.3C128 446.6 213.1 480 320 480c105.1 0 192-33.4 192-74.67l-14.78-142.9L351.1 314.4z"/></svg>
            </div>
            <span class="nav-link-text ms-1">Уроки</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="sidenav-footer mx-3 mt-3 pt-3">
      <div class="card shadow-none" style="background-color: #039be5;" id="sidenavCard">
        <div class="card-body text-start p-3 w-100">
            <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md" style='float: left;'>
              <i class="fab fa-telegram-plane text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
            </div>
            <p class="text-xs font-weight-bold text-center" style='color: #FFFFFF; margin-top: 0.5rem;'>Eliment Channel</p>

          
          <div class="docs-info">
            <a href="https://t.me/eliment_ai_bot" 
               target="_blank" class="btn btn-white btn-sm w-100 mb-0">Перейти</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  
  
