{% extends 'layouts/base.html' %}

{% block title %} Ecommerce Products List {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 card">
            <div class='m-3'>
                <h5>Списки получателей</h5>
                <p class="text-sm mb-0">Добавьте кому рассылать.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
				<div class="card-body">
					<h5>Добавить Список</h5>
					<p class="text-sm mb-0">Заполните поля формы, выберите нужные параметры и нажмите кнопку "Добавить".</p>
					<div class="col-12 col-sm-10 col-md-12 mt-3">
						<form action="/list-recipient/" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-12 mb-3">
								{{ form.non_field_errors }}
							</div>
							<div class="col-12 mb-3">
								<label for="title">Введите название</label>
								{{ form.title }}
								<small class="text-danger">{{ form.title.errors }}</small>
							</div>
							{% comment %} <div class="col-12 mb-3">
								<label for="work_option">Выберите тип</label>
								{{ form.work_option }}
								<small class="text-danger">{{ form.work_option.errors }}</small>
							</div> {% endcomment %}
							<div class="col-12 mb-3">
								<label for="tg_ids">ТГ ИД список</label>
								{{ form.tg_ids }}
								<small class="text-danger">{{ form.tg_ids.errors }}</small>
							</div>
							{% if messages %}
							<ul class="messages">
								{% for message in messages %}
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							<div class="d-flex justify-content-end mt-4">
								<button type="submit" class="btn bg-gradient-primary m-0 ms-2">Создать список</button>
							</div>
						</form>
					</div>
				</div>
			</div>			
        </div>

		<div class="col-md-8 mt-sm-0 mt-4">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<!-- Card header -->
						<div class="card-header pb-0">
							<div class="d-lg-flex">
								<div>
									<h5 class="mb-0">Добавленные Проекты</h5>
									<p class="text-sm mb-0">Здесь отображаются активные и завершенные проекты.</p>
								</div>
		
								<!-- Search, Sorting and Records per page controls -->
								<div class="ms-auto d-flex">
									{% comment %} <form class="d-flex me-3" method="get" action="">
										<input class="form-control" type="search" name="q" placeholder="Поиск по проектам" value="{{ request.GET.q }}">
										<button type="submit" class="btn btn-link text-secondary">
											<i class="fas fa-search"></i>
										</button>
									</form> {% endcomment %}
									
									{% comment %} <div class="d-flex align-items-center">
										<label for="records-per-page" class="text-sm mb-0 me-2">Записей на странице:</label>
										<select id="records-per-page" class="form-select form-select-sm" onchange="location = this.value;">
											<option value="?page=1&q={{ request.GET.q }}&per_page=10" {% if per_page == 10 %}selected{% endif %}>10</option>
											<option value="?page=1&q={{ request.GET.q }}&per_page=20" {% if per_page == 20 %}selected{% endif %}>20</option>
											<option value="?page=1&q={{ request.GET.q }}&per_page=50" {% if per_page == 50 %}selected{% endif %}>50</option>
											<option value="?page=1&q={{ request.GET.q }}&per_page=100" {% if per_page == 100 %}selected{% endif %}>100</option>
										</select>
									</div> {% endcomment %}
								</div>
							</div>
						</div>
		
						<div class="card-body px-0 pb-0">
							<div class="dataTable-container">
								<table class="table table-flush dataTable-table" id="projects-list">
									<thead class="thead-light">
										<tr>
											<th>
												<a href="?sort_by=title&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
													Название {% if request.GET.sort_by == 'title' %}{% if request.GET.order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
												</a>
											</th>
											<th>Проект</th>
											{% comment %} <th>
												<a href="?sort_by=work_option&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
													Опции работы {% if request.GET.sort_by == 'work_option' %}{% if request.GET.order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
												</a>
											</th> {% endcomment %}
											<th>Количество контактов</th>
											<th>
												<a href="?sort_by=status&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
													Статус {% if request.GET.sort_by == 'status' %}{% if request.GET.order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}
												</a>
											</th>
											<th>Действия</th>
										</tr>
									</thead>
									<tbody>
										{% for recipient in lists %}
										<tr>
											<td>{{ recipient.title }}</td>
											<td>{{ recipient.project_title }}</td>
											{% comment %} <td>
												{% if recipient.work_option == 1 %}
													Белый список
												{% elif recipient.work_option == 2 %}
													Черный список
												{% else %}
													Не указано
												{% endif %}
											</td> {% endcomment %}
											<td>{{ recipient.contact_count }}</td>
											<td>
												{% if recipient.status == 'active' %}
													В работе
												{% elif recipient.status == 'completed' %}
													Завершена
												{% elif recipient.status == 'error' %}
													Ошибка
												{% else %}
													Неизвестный статус
												{% endif %}
											</td>
											<td>
												<a href="{% url 'list-recipient-delete' recipient.id %}" class="btn btn-link text-secondary" data-bs-toggle="tooltip" title="Удаление">
													<i class="fas fa-trash-alt"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-link text-secondary" data-bs-toggle="modal" data-bs-target="#editRecipientModal{{ recipient.id }}" title="Изменить">
													<i class="fas fa-edit"></i>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									
									
									
									
									
								</table>
							</div>
							
		
							<!-- Pagination controls -->
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<p class="text-sm">Показано {{ projects.paginator.page_range.start }}-{{ projects.paginator.page_range.end }} из {{ projects.paginator.count }} записей</p>
								</div>
								<div>
									<ul class="pagination justify-content-end">
										{% for page_num in projects.paginator.page_range %}
											<li class="page-item{% if projects.number == page_num %} active{% endif %}">
												<a class="page-link" href="?page={{ page_num }}&q={{ request.GET.q }}&per_page={{ per_page }}">{{ page_num }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		


{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="/static/assets/js/plugins/sweetalert.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modalTriggers = document.querySelectorAll('[data-bs-toggle="modal"]');
        modalTriggers.forEach(trigger => {
            const modalId = trigger.getAttribute('data-bs-target');
            const modalElement = document.querySelector(modalId);
            if (modalElement) {
                trigger.addEventListener('click', () => {
                    const modal = new bootstrap.Modal(modalElement);
                    modal.show();
                });
            }
        });
    });
</script>
{% endblock javascripts %}
