{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 500 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} error-page {% endblock %}

{% block content %}


  <main class="main-content  mt-0">
    <div>
      <section class="min-vh-100 d-flex align-items-center">
        <div class="container">
          <div class="row mt-lg-0 mt-8">
            <div class="col-lg-5 my-auto">
              <h1 class="display-1 text-bolder text-gradient text-warning fadeIn1 fadeInBottom mt-5">Ошибка 500</h1>
              <h2 class="fadeIn3 fadeInBottom opacity-8">Что то пошло не так</h2>
            </div>
            <div class="col-lg-7 my-auto">
              <img class="w-100 fadeIn1 fadeInBottom" src="/static/assets/img/illustrations/error-500.png" alt="500-error">
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% if sentry_event_id %}
<script>
  Sentry.init({ dsn: "https://8e2cc821fa0d46958861d0354db15cee@sentry.mplab.io/2" });
  Sentry.showReportDialog({ eventId: "{{ sentry_event_id }}", 
  lang: "ru",
  user:{name: null, email: "{{email}}"}
  });
</script>
{% endif %}{% endblock javascripts %}
