{% extends 'layouts/base.html' %} 
{% load static %} 
 
{% block title %} Ecommerce Products List {% endblock title %} 
 
<!-- Specific CSS goes HERE --> 
{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/product-card-style.css' %}">
	 <!-- Include the core CSS, this is needed by the grid -->
	 <link rel="stylesheet"
		 href="https://unpkg.com/ag-grid-community/styles/ag-grid.css"/>
	 <!-- Include the theme CSS, only need to import the theme you are going to use -->
	 <link rel="stylesheet"
		 href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css"/>

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
	<link rel="stylesheet"
		 href="https://unpkg.com/ag-grid-community/styles/ag-theme-material.css"/>
{% endblock stylesheets %}  
 
{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %} 
 
{% block content %} 
<div class="container-fluid py-4">
	<div class="card__main-wrapper">
		<div class="card">
			<div class="card-body">
				<div class="card__header">
					<div class="card__title">
						<h5>Проверка карточки товара</h5>
					</div>
					<div class="card__buttons" style="margin-bottom: 25px;">
						<button class="btn btn-primary bg-gradient-dark" id="clear" style="margin-bottom: 5px;">Очистить поля</button>
						<button class="btn btn-primary bg-gradient-primary" id="newRequest" style="margin-bottom: 5px;font-size: 0.8em;">Новый запрос</button>
					</div>
				</div>
				<div class="card__main">
					<div class="card__main-img">
						<img src={{cover}} alt="">
					</div>
					<div class="card__main-info">
						<div class="info__title">Название:</div>
						<div class="info__desk">{{imt_name}}</div>
						<div class="info__title">Продавец:</div>
						<div class="info__desk">{{vendor_code}}</div>
						<div class="info__title">Бренд:</div>
						<div class="info__desk">{{selling.brand_name}}</div>
						<div class="info__title">SKU:</div>
						<div class="info__desk">{{sku}}</div>
					</div>
				</div>
				<div class="good-info" style="margin-top: 25px;">
					<h5>Информация о товаре</h5>
					<div class="d-flex justify-content-between" style="flex-wrap: wrap;gap: 10px;">
						<div class="card-tips">Эти данные указаны на странице товара</div>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" value=0 id="editStatus" checked >
							<label class="form-check-label" for="editStatus">
									Режим изменения
							</label>
						</div>
					</div>
					

					<div class="good-info__form activeEdit">
						<div class="edit-fields"> 
							<label class='info__title' for="brand">Бренд</label>
							<input type="text" class="form-control" id="brand" value="{{selling.brand_name}}" data-get-main-val></input>
							<div class="text-input"></div>
						</div>
						<div class="edit-fields"> 
							<label class='info__title' for="name">Название товара</label>
							

							<div class="d-flex">
								<div class="text-input-flex">
									<input type="text" id='name' class="form-control" value="{{imt_name}}" data-get-main-val>
									<div class="text-input"></div>
								</div>
								<div class="count-symbols">
									<span class="currentAmount"></span>/<span class="maxAmount">100</span>
								</div>
							</div>
						</div>
						<div class="edit-fields">
							<label class='info__title' for="color">Цвет</label>
							<input type="text" id="color" class="form-control" value="{{nm_colors_names}}" data-get-main-val>
							<div class="text-input"></div>
						</div>
						<div class="edit-fields">
							<label for="structure">Состав</label>
							<input class="form-control" type="text" id="structure" value="{%for composit in compositions %} {{composit.name}} {%endfor%}" data-get-main-val>
							<div class="text-input"></div>
						</div>
						<div class="edit-fields">
							<label for="description">Описание</label>
							<div class="d-flex">
								<div class="text-input-flex">
									<textarea class="form-control" name="description" id="description" rows="5" data-get-main-val>{{description}}</textarea>
									<div class="text-input"></div>
								</div>
								<div class="count-symbols">
									<span class="currentAmount"></span>/<span class="maxAmount">5000</span>
								</div>
							</div>
						</div>
						
						<div class="edit-fields">
							<label class='info__title' for="equipment">Комплектация</label>
							<div class="d-flex">
								<div class="text-input-flex">
									<textarea type="text" class="form-control" id="equipment" rows="5" data-get-main-val>{{contents}}</textarea>
									<div class="text-input"></div>
								</div>
								<div class="count-symbols">
									<span class="currentAmount"></span>/<span class="maxAmount">1000</span>
								</div>
							</div>
						</div>
						
						<div class="show-btn-wrapper">
							<div class="btn btn-primary bg-gradient-faded-dark show-btn">Показать все атрибуты</div>
							<div class="more">
								<p>Параметры</p>
								{% for parameter in options %}
								<div class="edit-fields">
									<label class='info__title' for="type">{{parameter.name}}</label>
									<input type="text" class="form-control" value="{{parameter.value}}" data-get-val>
									<div class="text-input"></div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card__wrapper getWidth">
			<div class="card test__text" id="sticky">
				<div class="card-body">
					<h5>Проверочный текст</h5>
					<div class="card-text">По этим фразам будет произведена проверка</div>
					<div class="verif-text">
						<div class="card-tips mb-2">Поисковые запросы (<span id="getTemplate">загрузить пример</span>)</div>
						<textarea class="form-control" name="ver-text" id="check-text" rows="10"></textarea>
						<div class="card-tips">Каждое значение вводится с новой строки.</div>
					</div>
					<div class="d-flex justify-content-end">
						<button class="btn btn-primary bg-gradient-primary" id="check" style="margin-top: 10px;">Проверить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="result d-none dataForPhrases">
		<div class="result__statistics">
			<div class="row row-1">
				<div class="card window" style="border-top: 3px solid green;">
					<div class="card-body">
						<div class="window__header">
							<div>Вписанных запросов</div>
							<div class="window__helper" title="<ul><li><strong>Всего:</strong> общий процент вписанных запросов</li><li><strong>Есть все слова:</strong> процент вписанных запросов, у которых все слова присутствуют</li><li><strong>Полное вхождение:</strong> процент вписанных запросов, у которых полное вхождение ключевой фразы</li></ul>" data-bs-toggle="tooltip" data-bs-html="true">
								<div class="svg">
									<svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
										<g><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></g>
									</svg>
								</div>
								
							</div>
						</div>
						<ul class="window__list">
							<li><div>Всего</div><div class="fw-bold" id="countAll"></div></li>
							<li><div>Есть все слова</div><div class="fw-bold" id="countAllwords"></div></li>
							<li><div>Полное вхождение</div><div class="fw-bold" id="countFullInput"></div></li>
						</ul>
					</div>
				</div>
				<div class="card window" style="border-top: 3px solid yellow;">
					<div class="card-body">
						<div class="window__header">
							<div>Упущенных запросов</div>
							<div class="window__helper" title="<ul><li><strong>Всего:</strong> общий процент упущенных запросов</li></ul>" data-bs-toggle="tooltip" data-bs-html="true">
								<div class="svg">
									<svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
										<g><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></g>
									</svg>
								</div>
								
							</div>
						</div>
						<ul class="window__list">
							<li><div>Всего</div><div class="fw-bold" id="countLost"></div></li>
						</ul>
					</div>
				</div>
				<div class="card window sum-frequently" style="border-top: 3px solid blue;">
					<div class="card-body">
						<div class="window__header">
							<div>Суммарная частота вписанных запросов</div>
							<div class="window__helper">
								<div class="svg">
									<svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" title="<ul><li><strong>Всего:</strong> общая суммарная частота вписанных запросов</li><li><strong>Все слова:</strong> суммарная частота вписанных запросов, у которых все слова присутствуют</li><li><strong>Полное вхождение:</strong> суммарная частота вписанных запросов, у которых полное вхождение ключевой фразы</li></ul>" data-bs-toggle="tooltip" data-bs-html="true">
										<g><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></g>
									</svg>
								</div>
							</div>
						</div>
						<ul class="window__list">
							<li><div>Всего</div><div class="fw-bold toLocaleString" id="countAllFrequency"></div></li>
							<li><div>Все слова</div><div class="fw-bold toLocaleString" id="countAllWordsFrequency"></div></li>
							<li><div>Полное вхождение</div><div class="fw-bold toLocaleString" id="countFullInputFrequency"></div></li>
						</ul>
					</div>
				</div>
				<div class="card window" style="border-top: 3px solid red;">
					<div class="card-body">
						<div class="window__header">
							<div>Общая частота упущенных запросов</div>
							<div class="window__helper" title="<ul><li><strong>Всего:</strong> общая суммарная частота упущенных запросов wildberries</li></ul>" data-bs-toggle="tooltip" data-bs-html="true">
								<div class="svg">
									<svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
										<g><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></g>
									</svg>
								</div>
							</div>
						</div>
						<ul class="window__list">
							<li><div>Всего </div><div class="fw-bold toLocaleString" id="fullNotContainsFrequency"></div></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-4 d-none dataForPhrases">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Запросы</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="words-tab" data-bs-toggle="tab" data-bs-target="#words" type="button" role="tab" aria-controls="words" aria-selected="false">Слова</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
					<div class="table-wrapper mt-4" style="height: 400px;">
						<div id="table-requests" class="ag-theme-material" style="height: 100%;"></div>
					</div>
				</div>
				<div class="tab-pane fade" id="words" role="tabpanel"  aria-labelledby="words-tab">
					<div class="table-wrapper mt-4" style="height: 400px;">
						<div id="table-words" class="ag-theme-material" style="height: 100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card pop-up-find">
		<div class="card-body pop-up-find-body">
			<div class="find-text">
				<div class="find-word"></div>
				<div class="find-counter"><span id="counter-number"></span>/<span id="find-total"></span></div>
			</div>
			<div class="find-control">
				<svg id='find-plus' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
				</svg>
				<svg id='find-minus' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
				</svg>
				<svg id='find-x' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
					<path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
				</svg>
			</div>
		</div>
	</div>
	<div class="modal modal-again-request">
		<!-- ПЕРЕНЕСЕНО СО СТРАНИЦЫ seo-group-search -->
		<div class="modal-content d-block">
			<span class="close justify-content-end">&times;</span>
			<div class="card-checking">
				<form action="" method="POST" >
					{% csrf_token %}
					<div class="card-checking__search w-80 mx-auto">
						<input type="text" class="form-control" id="search-sku" name="sku">
						<label for="search-sku">
							Введите <span class="example" id="link-example" data-example="https://www.wildberries.ru/catalog/33249123/detail.aspx">ссылку на товарную позицию WB</span> или <span class="example" id="sku-example" data-example="13182299">SKU</span>
						</label>
					</div>
					<button type="submit" class="btn btn-primary bg-gradient-primary mx-auto d-flex">
						Проверить
					</button>
				</form>
			</div>
		</div>
	</div>
		<div class="customSwal">
		<div class="customSwal__icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
		</div>
		<div class="customSwal__text"></div>
	</div>
</div> 
 
 
{% endblock content %} 
 
<!-- Specific JS goes HERE -->  
{% block javascripts %}  
<script src="/static/assets/js/plugins/sweetalert.min.js"></script>
<script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
<script src="{% static 'assets/js/ag-grid_locale.ru.js' %}"></script>
<!-- Animate button -->
<script>
	function disableBtn() {
		$('#check').attr('disabled', true)
		document.querySelector('#check').innerHTML = 'Проверка... <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="check-refresh"><path d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"/></svg>'
	}

	function enableBtn() {
		$('#check').attr('disabled', false)
		document.querySelector('#check').innerHTML = 'Проверить'
	}

	$('#check').on('click', disableBtn)
</script>
<!-- Clear input fields -->
<script>
	$('#clear').click(() => {
	let checkText = $('#check-text').val()
	let brand = $('#brand').val()
	$('.text-input').text('')
	$('.form-control').val('')
	$('#brand').val(brand)
	$('#check-text').val(checkText)
	$(".currentAmount").text('0')
	})
</script>
<!-- show/hide parametrs -->
<script>
	$('.show-btn-wrapper').css('height', 81.6)
	$('.show-btn').click(function() {
		let parent = $(this).parent()
		parent.toggleClass('show')
		parent.hasClass('show') ? $(this).text('Скрыть атрибуты') : $(this).text('Показать все атрибуты')
		parent.hasClass('show') ? parent.css('height', $(this).next().height() + 81.6) : $(this).parent().css('height', 81.6)
	})
</script>
<!-- CUSTOM SWAL -->
<script>
	
	function customSwal(text = "Success!", options = {
		animationTime: '1s',
		animatiomType: 'ease',
		hideDelay: '3500',
		type: 'success',
		html: false
	}) { // animationTime = '1s', animatiomType = 'ease', hideDelay = 1500
		console.log(arguments)
		if ((options.type || "success") == "success") {
			$(".customSwal__icon").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>')
			$(".customSwal").css('background', '#cceecb')
			$(".customSwal__icon path").css('fill', '#76c574')
			$(".customSwal__text").css('color', '#656565')
			$(".customSwal__icon svg").css('height', '60px')
		} else if (options.type == 'error') {
			$(".customSwal__icon").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>')
			$(".customSwal").css('background', '#ffa7a7')
			$(".customSwal__icon path").css('fill', '#e36767')
			$(".customSwal__text").css('color', '#fcfcfc')
			$(".customSwal__icon svg").css('height', '60px')
		} else if (options.type == 'warning') {
			$(".customSwal__icon").html('<svg height="" viewBox="0 0 512 512" width="" xmlns="http://www.w3.org/2000/svg"><path d="M85.57,446.25H426.43a32,32,0,0,0,28.17-47.17L284.18,82.58c-12.09-22.44-44.27-22.44-56.36,0L57.4,399.08A32,32,0,0,0,85.57,446.25Z" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M250.26,195.39l5.74,122,5.73-121.95a5.74,5.74,0,0,0-5.79-6h0A5.74,5.74,0,0,0,250.26,195.39Z" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M256,397.25a20,20,0,1,1,20-20A20,20,0,0,1,256,397.25Z"></path></svg>')
			$(".customSwal").css('background', '#f8fbcb')
			$(".customSwal__icon path").css('fill', '#c8ce76')
			$($(".customSwal__icon path").get(0)).css('fill', 'none')
			$(".customSwal__icon path").css('stroke', '#c8ce76')
			$(".customSwal__text").css('color', '#656565')
			$(".customSwal__icon svg").css('height', '60px')
		} else {
			return console.error(`type ${options.type} does not exsist.\navailable types:\n'success', 'error', 'warning'` )
		}
		$(".customSwal").css('transition', `transform ${options.animationTime || '1s'} ${options.animatiomType || 'ease'}`)
		$(".customSwal").addClass("active")
		options.html || false ? $(".customSwal__text").html(text) :  $(".customSwal__text").text(text)
		let removeClassActive = setTimeout(function () {
		$(".customSwal").removeClass("active")
	}, options.hideDelay || '3500')
		$(".customSwal").click(event => {
			$(event.target.closest('.customSwal')).removeClass("active")
			clearTimeout(removeClassActive)
		})
	}
</script>
<!-- Событие показа попапа при клике на новый запрос. -->
<script>

	$(".close").on('click', event => {
		$(".modal").css("display", "none")
		$(".modal").removeClass("active")
	}) 
	$("#newRequest").on("click", event => {
		event.preventDefault()
		$(".modal").css("display", "block")
		$(".modal").addClass("active")
	})
	$(window).on('mousedown', event => {
		if (event.target == document.querySelector(".modal")) {
			$(".modal").css("display", "none")
			$(".modal").removeClass("active")
	}
	})
</script>
<!-- Новый запрос -->
<script>
	if (!String.prototype.startsWith) { // Если нету метода startsWith, мы его создаём.
		Object.defineProperty(String.prototype, 'startsWith', {
			enumerable: false,
			configurable: false,
			writable: false,
			value: function(searchString, position) {
				position = position || 0;
				return this.indexOf(searchString, position) === position;
			}
		});
	}
	$("#link-example, #sku-example").on('click', e => {
		$('#search-sku').val(e.target.dataset.example);
	})
	$('form').submit( (event) => {
		
		let el = $('#search-sku').val()
		if (el.startsWith('http') || el.startsWith('www.') || el.startsWith("wildberries")) {
			$('#search-sku').val(el.match(/catalog\/(\d+)\//)[1])
		}
		let formData = new FormData(event.target)
		console.log($('#search-sku').val(), event, formData.get('sku'));
	});
</script>
<!-- режим изменения -->
<script>
	let editStatus = $("#editStatus")
	editStatus.change(() => {
		if (editStatus.is(':checked')) {
			$(".good-info__form").addClass("activeEdit")
			$(".text-input").each( (index, el) => {
				$(el).html($('input, textarea', $(el.closest('.edit-fields'))).val())
			})
		} else {
			$(".good-info__form").removeClass("activeEdit")
			$(".text-input").each( (index, el) => {
				$(el).html($('input, textarea', $(el.closest('.edit-fields'))).val())
			})
		}
	})
</script>
 
<!-- Разделение чисел на разряды. -->
<script>
	$(".toLocaleString").each((i, el) => {
		$(el).text(parseInt($(el).text()).toLocaleString('ru'))
	})
</script>
<!-- CUSTOM STICKY -->
<script>
	function checkPos(pos, el) {
		if (innerWidth > 1100) {
			var maxScroll = $(".getWidth").offset().top + $(".getWidth").height()
			var defWidth = $(".getWidth").width() - 15
			if (pageYOffset + el.height() + 15 >= maxScroll) {
				el.css('position', 'relative')
				el.css('top', $(".getWidth").height() - el.height() + 'px')
			} else if (pos - 15 < pageYOffset) {
				el.css('position', 'fixed')
				el.css('top', '15px')
			} else {
				el.css('position', 'relative')
				el.css('top', '0')
				stickyPosY = Math.round($(".getWidth").offset().top)
			}
			el.css('width', defWidth + 'px')
		} else {
			el.css('position', 'relative')
			el.css('top', '0')
			el.css('width', '100%')
		}
	}
	var customSticky = $('#sticky');
	var stickyPosY = Math.round($(".getWidth").offset().top)
	window.addEventListener('resize', () => {
		checkPos(stickyPosY, customSticky)
	})
	
	setTimeout(() => checkPos(stickyPosY, customSticky), 400)
	window.addEventListener('scroll', () => checkPos(stickyPosY, customSticky))
	document.querySelector(".sidenav-toggler").addEventListener("click", () => {
		setTimeout(() => checkPos(stickyPosY, customSticky), 300)
	})
</script>
<!-- GETTING DATA FROM TEXT FIELDS -->
<script>
	function getDataTF() {
		disableBtn()
		const data = {
			allDataProduct: {},
			checkData: {}
		}
		const regExp = new RegExp(/[\s\n,]+/)
		$("[data-get-main-val]").each( (index, el) => {
			data["allDataProduct"][$(el).attr('id')] = {fullText: $(el).val(), splitText: $(el).val().split(regExp).filter(el => el != '')}
		})
		let fullTextParametrs = $("[data-get-val]").map((index, el) => {
			return $(el).val()
		}).get().join(', ')
		data["allDataProduct"]['parametrs'] = {fullText: fullTextParametrs, splitText: fullTextParametrs.split(regExp).filter(el => el != '')}
		let splitTextSend = Array.from(new Set($("#check-text").val().split(/[\n]+/).filter(el => el != '').map(el => el.trim())))
		let splitText = splitTextSend.map(el => [el])
		$.ajax({
			type: 'POST',
			url: 'https://ml-fe.mplab.io/lemmatize',
			 "method": "POST",
			"timeout": 0,
			"headers": {
				"Content-Type": "application/json"
			},
			async: false,
			data: JSON.stringify({
				titles: splitTextSend
			}),
			success: (data) => {
				console.log('test');
				console.log(data);
				splitText = data
			},
			error: () => {
				console.log('test error');
			},
			complete: () => {
				console.log(splitText);
				console.log(splitText.map(el => el.map(elem => elem.split(' '))));
				data['checkData'] = {fullText: $("#check-text").val(), splitText, splitTextFull: splitText.map(el => el.map(elem => elem.split(' ')))}
				console.log(data);
			}
		})
		return data

	}
</script>

<!-- TABLES -->
<script>
	agGrid.LicenseManager.setLicenseKey("CompanyName=MPLAB,LicensedApplication=MPLAB,LicenseType=SingleApplication,LicensedConcurrentDeveloperCount=1,LicensedProductionInstancesCount=0,AssetReference=AG-034191,SupportServicesEnd=23_October_2023_[v2]_MTY5ODAxNTYwMDAwMA==3b4ce1e31fc57311e3399877777ff001");
	function renderDataPhrase(params) {
		return `<a href="${params.value.replaceAll(' ', '+')}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width='15px'><path fill="#939393" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg></a> <span title="${params.value}">${params.value}</span>`
	}
	function renderData(params) {
		return params.value == 2 ? 'Частичное' : params.value == 1 ? 'Прямое' : params.value == 0 ? "Косвенное" : '—'
	}
	function renderDataIndex(params) {
		return params.value == 1 ? "+" : '—'
	}
	function renderDataFrequency(params) {
		return params.value == 0 || params.value == undefined ? '—' : params.value.toLocaleString('ru')
	}
	function processCellForClipboard(params) {
		if (params.column.colId == 'frequency') {
			return renderDataFrequency(params)
		} else if (params.column.colId == 'index') {
			return renderDataIndex(params)
		} else if (params.column.colId == 'request') {
			return params.value
		} else {
			return renderData(params)
		}
	}
	function processCellForClipboardWords(params) {
		if (params.column.colId == 'frequencySum') {
			return renderDataFrequency(params)
		} else if (params.column.colId == 'word') {
			return params.value
		} else {
			return renderDataWords(params)
		}
	}
	function customSortable(valueA, valueB, nodeA, nodeB, isDescending) {
		if (valueA == valueB) return 0;
		return (valueA > valueB) ? 1 : -1;
	}
	function cellStyle(params) {
		let color = ''
		console.log(params.value);
		if (params.value == 1) {
			color = "rgba(206, 255, 221, .5)"
		} else if (params.value == 2) {
			color = "rgba(207, 233, 249, .5)"
		} else if (params.value == 0) {
			color = "rgba(251, 255, 59, .18)"
		}
		console.log('COLOR', color);
		return {
			backgroundColor: color,
		};
	}
	function cellStyleWords(params) {
		let color = ''
		if (params.value == 1) {
			color = "rgba(233,249,238,.5)"
		} else if (params.value == 0) {
			return
		}
		return {
			backgroundColor: color,
		};
	}
	function renderDataWords(params) {
		return params.value == 1 ? '+' : '—'
	}
	function cellStyleIndex(params) {
		let color = ''
		if (params.value == 1) {
			color = "rgba(233,249,238,.5)"
		} else {
			color = "rgba(255,229,229,.5)"
		}
		return {
			backgroundColor: color,
		};
	}
	var mainColumn = [{
			field: 'request',
			pinned: 'left',
			headerName: 'Запрос',
			width: 220,
			cellRenderer: renderDataPhrase
		},
		{
			field: 'frequency', 
			pinned: 'left',
			width: 120, 
			headerName: 'Частотность', 
			sort: 'desc',
			cellRenderer: renderDataFrequency
		},
		{
			field: 'index',
			width: 120,
			headerName: 'Индекс', 
			cellRenderer: renderDataIndex,
			cellStyle: cellStyleIndex,
		},
		{
			field: 'contains',
			width: 120,
			headerName: 'Есть', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'brand',
			width: 120,
			headerName: 'Бренд', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'name',
			width: 120,
			headerName: 'Название', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'color',
			width: 120,
			headerName: 'Цвет', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'structure',
			width: 120,
			headerName: 'Состав', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'description',
			width: 120,
			headerName: 'Описание', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'parametrs',
			width: 120,
			headerName: 'Параметры', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
		{
			field: 'equipment',
			width: 90,
			headerName: 'Комплектация', 
			comparator: customSortable,
			cellRenderer: renderData,
			cellStyle: cellStyle,
		},
	]
	var columnDefs = [
		...mainColumn,
	];



	function deselect(){
			gridOptions.api.deselectAll()
	}
	const gridOptions = {
		defaultColDef: {
			resizable: true,
			lockPinned: true,
			sortable: true,
			suppressMovable: true
		},
		enableRangeSelection: true,
		columnDefs: columnDefs,
		localeText: AG_GRID_LOCALE_RU,
		rowClassRules: {
			'bg-danger': (params) => {
				return params.data.contains == -1
			}
		},
		processCellForClipboard: processCellForClipboard,
		rowData: [{request: 'av aer fad',}, {request: 'tregb',}],
		// suppressDragLeaveHidesColumns: true,
		// onFirstDataRendered: onFirstDataRendered,
	};

	var eGridDiv = document.getElementById("table-requests");
	new agGrid.Grid(eGridDiv, gridOptions);
	gridOptions.api.addEventListener('rowClicked', (e) => {
		let clone = Object.assign({}, e.data);
		delete clone.request
		delete clone.requestAnother
		delete clone.frequency
		delete clone.contains
		console.log(clone, e.data.requestAnother);
		if (e.data.contains == 1) {
			elNum = 0
			highlightAllWords(e.data.request, e.data.requestAnother)
			$(".customSwal").click()
		} else if (e.data.contains == 0 || e.data.contains == 2 ) {
			elNum = 0
			let keys = Object.keys(clone).filter(el => clone[el] == 0 || clone[el] == 2)
			console.log(keys);
			highlightAllWords(e.data.request, e.data.requestAnother, true, keys)
			$(".customSwal").click()
		} else {
			$('#find-x').click()
			customSwal('У этой фразы нет вхождений.', {hideDelay: 4000, type: 'warning'})
		}
		
	});

	// table-words

	var mainColumnWords = [
		{
			field: 'word',
			headerName: 'Слово',
			width: 220,
			cellRenderer: 'agGroupCellRenderer'
		},
		{
			field: 'countOccurrences',
			width: 120, 
			headerName: 'Количество вхождений', 
			cellRenderer: renderDataFrequency
		},
		{
			field: 'frequencySum', 
			width: 120, 
			headerName: 'Суммарная частота', 
			sort: 'desc',
			cellRenderer: renderDataFrequency
		},
		{
			field: 'index',
			width: 120,
			headerName: 'Индекс', 
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'contains',
			width: 120,
			headerName: 'Есть', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'brand',
			width: 120,
			headerName: 'Бренд', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'name',
			width: 120,
			headerName: 'Название', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'color',
			width: 120,
			headerName: 'Цвет', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'structure',
			width: 120,
			headerName: 'Состав', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'description',
			width: 120,
			headerName: 'Описание', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'parametrs',
			width: 120,
			headerName: 'Параметры', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
		{
			field: 'equipment',
			width: 90,
			headerName: 'Комплектация', 
			comparator: customSortable,
			cellRenderer: renderDataWords,
			cellStyle: cellStyleWords,
		},
	]
	var columnDefsWords = [
		...mainColumnWords,
	];
	var descriptionColumnWords = [
		{
			field: 'request',
			pinned: 'left',
			headerName: 'Запрос',
			width: 220,
			cellRenderer: renderDataPhrase
		},
		{
			field: 'frequency', 
			pinned: 'left',
			width: 120, 
			headerName: 'Частотность', 
			sort: 'desc',
			cellRenderer: renderDataFrequency
		},
	]
	const gridOptionsWords = {
		masterDetail: true,
		isRowMaster: (dataItem) => {
			return dataItem ? dataItem.detailData.length > 0 : false;
		},
		defaultColDef: {
			resizable: true,
			lockPinned: true,
			sortable: true,
			suppressMovable: true
		},

		columnDefs: columnDefsWords,
		localeText: AG_GRID_LOCALE_RU,
		rowClassRules: {
			'bg-danger': (params) => {
				return params.data.contains == 0
			}
		},
		detailCellRendererParams: {
			detailGridOptions: {
				columnDefs: descriptionColumnWords,
				defaultColDef: {
					flex: 1,
				},
				localeText: AG_GRID_LOCALE_RU,
				onFirstDataRendered: params => params.api.sizeColumnsToFit(),
				enableRangeSelection: true,
			},
			getDetailRowData: function (params) {
				params.successCallback(params.data.detailData);
			},
		},
		// debug: true,
		enableRangeSelection: true,
		processCellForClipboard: processCellForClipboardWords,
		rowData: [],
		// suppressDragLeaveHidesColumns: true,
		// onFirstDataRendered: onFirstDataRendered,
	};
	var eGridDivWords = document.getElementById("table-words");
	new agGrid.Grid(eGridDivWords, gridOptionsWords);
</script>

<!-- convertArray -->
<script>
	function convertArray(array) {
		const firstArr = []
		array.forEach(el => firstArr.push(...el[0]))


		const secondArr = []
		array.forEach(el => {
			for (let i in el[0]) {
				secondArr.push(el.map(arrEl => arrEl[i]))
			}
		});
		result = {}
		for (let i = 0; i < firstArr.length; i++) {
			if (firstArr[i].length > 2) {
				result[firstArr[i].trim()] = secondArr[i]
			}
		}


		return {
			firstArr, secondArr, result
		}
	}
</script>

<!-- Data Shaping -->
<script>
	function compareArray(arr1, arr2) {
		if (Array.isArray(arr1)) return arr1.filter(el => arr2.indexOf(el) === -1)
		else if (arr1 instanceof Object) {
			let result = {}
			for (let key in arr1) {
				if (!(key in arr2)) result[key] = arr1[key]
			}
			return result
		}
	}

	$("#check").on("click", event => {
		var dataRequestsTable = []
		var dataWordsTable = []
		let data = getDataTF()
		console.log(data)
		// table requests

		var frequencyObj = {}
		console.log(data.checkData.splitText)
		$.ajax({
			data: JSON.stringify({"phrases": data.checkData.splitText.map(el => el[0])}),
			accepts: "*/*",
			url: "/frequency/",
			type: "POST",
			async: false,
			contentType: 'application/json',
			success: data => {
				console.log(data);
				frequencyObj = data
			}
		})
		// var frequencyObj = {
		// 	'джинсы': 123532,
		// }
		var countAllGlobalPhrases = 0
		var countAllwords = []
		var countFullInput = []
		var countFullInputFrequency = {}
		var countAllwordsFrequency = {}
		data.checkData.splitText.forEach( (el, index) => {
			countAllGlobalPhrases++
			// console.log(el);
			el.map(elem => elem.trim())
			dataRequestsTable.push({})
			dataRequestsTable[index]["request"] = el[0]
			dataRequestsTable[index]["requestAnother"] = el
			for (field in data.allDataProduct) {
				let isPhraseContains = el.map(elem => data.allDataProduct[field].fullText.toLowerCase().indexOf(elem.toLowerCase()) != -1)
				// console.log('isPhraseContains', isPhraseContains);
				let isContains = isPhraseContains.indexOf(true)
				if (isContains != -1) {
					countFullInput.push(el[0]);
					countFullInputFrequency[el[0]] = frequencyObj[el[0]] || 0
					// console.log(el, index);
					// console.log(field, data.allDataProduct[field].fullText);
					dataRequestsTable[index][field] = isContains == 0 ? 1 : 0 // 2 --- частичное, 1 --- прямое, 0 --- косвенное
					continue;
				} else {
					let temporaryArray = []
					let isPartial = false
					console.log('data.checkData.splitTextFull[index]', data.checkData.splitTextFull[index]);
					for (let ind in data.checkData.splitTextFull[index]) {
						data.checkData.splitTextFull[index][ind].forEach(word => {
							console.log('data.allDataProduct[field].fullText, word.toLowerCase()', data.allDataProduct[field].fullText, word.toLowerCase());
							if (data.allDataProduct[field].fullText.toLowerCase().indexOf(word.toLowerCase()) != -1) {
								temporaryArray.push(true)
							}
						})
						if (ind == 0 && temporaryArray.length == data.checkData.splitTextFull[index][0].length) {
							isPartial = true
							break
						}
					}
					// data.checkData.splitTextFull[index].forEach( (elem, index) => {
					// 	elem.forEach(word => {
					// 		console.log('data.allDataProduct[field].fullText, word.toLowerCase()', data.allDataProduct[field].fullText, word.toLowerCase());
					// 		if (data.allDataProduct[field].fullText.toLowerCase().indexOf(word.toLowerCase()) != -1) {
					// 			temporaryArray.push(true)
					// 		}
					// 	})
					// 	if (index == 0 && temporaryArray.length == data.checkData.splitTextFull[index][0].length) {
					// 		break
					// 	}
					// })
					// console.log(countFullInput)
					
					console.log('temporaryArray', temporaryArray, data.checkData.splitTextFull[index][0].length);
					if (temporaryArray.length >= data.checkData.splitTextFull[index][0].length) {
						countAllwords.push(el[0]);
						countAllwordsFrequency[el[0]] = frequencyObj[el[0]] || 0
						// console.log(temporaryArray, countFullInput);
						dataRequestsTable[index][field] = isPartial ? 2 : 0
						continue;
					}
				}
				dataRequestsTable[index][field] = -1
			}
			dataRequestsTable[index]['contains'] = Object.values(dataRequestsTable[index]).indexOf(1) != -1 ? 1 : Object.values(dataRequestsTable[index]).indexOf(2) != -1 ? 2 : Object.values(dataRequestsTable[index]).indexOf(0) != -1 ? 0 : -1
			dataRequestsTable[index]['index'] = dataRequestsTable[index]['contains'] == 1 || dataRequestsTable[index]['contains'] == 2 || dataRequestsTable[index]['contains'] == 0  ? 1 : -1
			dataRequestsTable[index]['frequency'] = frequencyObj[el[0]] != undefined ? frequencyObj[el] : 0 

		})
		console.log('splitTextFull:', data.checkData.splitTextFull);
		let splitTextFullCopy = JSON.parse(JSON.stringify(data.checkData.splitTextFull))
		let splitTextFullCopy2 = JSON.parse(JSON.stringify(data.checkData.splitTextFull))
		console.log(JSON.stringify(data.checkData.splitTextFull));
		let convertedArray = convertArray(splitTextFullCopy)
		let allWordsSplitTextAdded = Object.keys(convertedArray.result)  // Array.from(new Set(splitTextFullCopy.map(el => el[0]).flat().filter(el => el.length > 2 ).map(el => el.trim())))
		let allWordsSplitText = Object.values(convertedArray.result)//splitTextFullCopy2.map(el => {el[0] = [];return el.map(element => element.filter(word => word.length > 2 ).map(word => word.trim()))})
		// [
		//     [
		//         [
		//             "Красные",
		//             "тарелки"
		//         ],
		//         [
		//             "Красный",
		//             "тарелка"
		//         ],
		//         [
		//             "Красное",
		//             "тарелке"
		//         ]
		//     ],
		//     [
		//         [
		//             "Белые",
		//             "чашки"
		//         ],
		//         [
		//             "Белый",
		//             "чашка"
		//         ]
		//     ]
		// ]
		
		console.log(); 
		console.log(allWordsSplitTextAdded, allWordsSplitText);

		let arrayAllFields = [
			"contains",
			"index",
			"brand",
			"name",
			"color",
			"structure",
			"description",
			"parametrs",
			"equipment",
			]
		for (let element = 0; element < allWordsSplitTextAdded.length; element++) {
			console.log(allWordsSplitTextAdded[element]);
			dataWordsTable.push({})
			dataWordsTable[dataWordsTable.length - 1]["word"] = allWordsSplitTextAdded[element]
			arrayAllFields.forEach(field => {
				dataWordsTable[dataWordsTable.length - 1][field] = false
			})
			
			// console.log(dataWordsTable[dataWordsTable.length - 1]);
			let detailData = [],
				countOccurrences = 0,
				frequencySum = 0
			data.checkData.splitText.forEach( (el, index) => {
				// console.log(allWordsSplitText[element], el);
				let isPhraseContains = allWordsSplitText[element].map(elem => el.map(phrase => phrase.toLowerCase().indexOf(elem.toLowerCase()) != -1)).flat()
				// console.log('isPhraseContains', isPhraseContains);
				if (isPhraseContains.indexOf(true) != -1) {
					countOccurrences++
					let frequency = frequencyObj[el[0]] || 0
					detailData.push({
						request: el[0],
						frequency
					})
					frequencySum+= frequency
					arrayAllFields.forEach(field => {
						console.log( countOccurrences, allWordsSplitText[element][0], ' ||| ', el[0], dataRequestsTable[index][field]);
						dataWordsTable[dataWordsTable.length - 1][field] = dataWordsTable[dataWordsTable.length - 1][field] != 1 ? dataRequestsTable[index][field] == 1 || dataRequestsTable[index][field] == 0 || dataRequestsTable[index][field] == 2 ? 1 : 0 : dataWordsTable[dataWordsTable.length - 1][field]
					})
				}
			})
			dataWordsTable[dataWordsTable.length - 1]['detailData'] = detailData
			dataWordsTable[dataWordsTable.length - 1]['countOccurrences'] = countOccurrences
			dataWordsTable[dataWordsTable.length - 1]['frequencySum'] = frequencySum
			// console.log(dataWordsTable);
		}
		gridOptions.api.setRowData(dataRequestsTable)
		gridOptionsWords.api.setRowData(dataWordsTable)
		countAllwords = new Set(compareArray(countAllwords, countFullInput))
		countFullInput = new Set(countFullInput)
		var countAllphrase = countAllwords.size + countFullInput.size
		// console.log("countAllphrase, countAllwords, countFullInput   ", countAllphrase, countAllwords, countFullInput);
		
		countFullInput = Math.round(countFullInput.size / countAllGlobalPhrases * 100) || 0
		countAllwords = Math.round(countAllwords.size / countAllGlobalPhrases * 100) || 0
		// console.log("countAllphrase, countAllwords, countFullInput   ", countAllphrase, countAllwords, countFullInput);


		countAllwordsFrequency = compareArray(countAllwordsFrequency, countFullInputFrequency)
		var countAllFrequency = [Object.values(countAllwordsFrequency), Object.values(countFullInputFrequency)]
		$("#countAllFrequency").text((countAllFrequency[0].reduce((partialSum, a) => partialSum + a, 0) + countAllFrequency[1].reduce((partialSum, a) => partialSum + a, 0)).toLocaleString('ru'))
		$("#countAllWordsFrequency").text(countAllFrequency[0].reduce((partialSum, a) => partialSum + a, 0).toLocaleString('ru') || 0)
		$("#countFullInputFrequency").text(countAllFrequency[1].reduce((partialSum, a) => partialSum + a, 0).toLocaleString('ru') || 0)
		$("#countLost").text(100 - (((countFullInput + countAllwords) == 0 ? 0 : (countFullInput + countAllwords) ? (countFullInput + countAllwords) : 100)) + '%')
		var fullNotContainsFrequency = Object.values(compareArray(frequencyObj, Object.assign(countAllwordsFrequency, countFullInputFrequency))).reduce((partialSum, a) => partialSum + a, 0)
		// console.log(fullNotContainsFrequency, compareArray(Object.assign(countAllwordsFrequency, countFullInputFrequency), frequencyObj))
		$("#fullNotContainsFrequency").text(fullNotContainsFrequency.toLocaleString('ru'))

		$("#countFullInput").text(countFullInput + '%')
		$("#countAllwords").text(countAllwords + '%')
		$("#countAll").text(countFullInput + countAllwords + '%')
		$(".dataForPhrases").removeClass('d-none')
		enableBtn()
		$('html,body').animate({scrollTop: $('html,body').get(0).scrollHeight}, 1000);
	})
</script>
<!-- Скрол в нужное место -->
<script>
	let elNum = 0

	function scroll(el) {
		let elId = `#mark-${el}`

		// $('html, body').animate({ scrollTop: $(elId).offset().top - window.innerHeight / 2}, {
		// 	duration: 370,   // по умолчанию «400»
		// 	easing: "linear" // по умолчанию «swing»
		// })
		$(elId).get(0).scrollIntoView({block: 'center'})

		$('mark').css('background', 'linear-gradient(90deg, rgba(199,255,4,1) 0%, rgba(255,235,4,1) 100%)')
		// $(elId).css('background', 'linear-gradient(90deg, rgba(255,136,72,1) 0%, rgba(255,159,50,1) 100%)')
		$(elId).css('background', 'linear-gradient(90deg, rgb(255 72 242 / 41%) 0%, rgb(174 50 255 / 23%) 100%)')
	}

	$('#find-plus').click(function() {
		
		if (elNum == 1) {
			elNum = numOfWords
			scroll(elNum)
		} else if (elNum > 0) {
			scroll(--elNum)
		}
		$('#counter-number').text(elNum)
	})

	$('#find-minus').click(function() {
		if (elNum == numOfWords && elNum != 0) {
			elNum = 1
			scroll(elNum)
		} else if (elNum < numOfWords) {
			scroll(++elNum)
		}
		$('#counter-number').text(elNum)
	})

	$('#find-x').click(function() {
		$('.pop-up-find').removeClass('show')
		elNum = 0
		$('#editStatus').removeAttr('disabled')
		$('#editStatus').click()
		$(".show-btn-wrapper").hasClass("show") ? $(".show-btn").click() : null
	})
</script>
<!-- Выделение слов -->
<script>
	let numOfWords = 0
	let counter = 1

	function markWord(text, phrase, allPhrasesContains, typeEntry = false) {
		/*return text.split(' ').map((el, index) => el.toLowerCase() == word.toLowerCase() ? `<mark id='mark-${index + 1}'>${el}</mark>` : el).join(' ')*/
		if (!typeEntry) {
			// let split = new RegExp(`(?:^|[^a-z0-9а-яё_])(?:${allPhrasesContains.join('|')})(?![a-z0-9а-яё_])`, 'i');
			// let splitedText = text.split(split)
			// let len = splitedText.length
			// console.log(numOfWords, len, splitedText)
			// numOfWords += len - 1
			// return splitedText.map((el, index) => index + 1 < len ? el + `<mark id='mark-${counter++}'>${phrase.toLowerCase()}</mark>` : el).join('')
			let str = text 
			let splitSearch = RegExp(`(?:^|[^a-z0-9а-яё_<>])(?:${allPhrasesContains.join('|')})(?![a-z0-9а-яё_])`, 'ig')
			let splitText = RegExp(`(?:^|[^a-z0-9а-яё_<>])(${allPhrasesContains.join('|')})(?![a-z0-9а-яё_])`, 'i')
			while (str.search(splitSearch) != -1) {
				numOfWords++
				str = str.replace(splitText, `<mark id='mark-${counter++}'>$1</mark>`)
			}
			return str

		} else {
			let phrases = allPhrasesContains.join(' ').toLowerCase().split(' ')
			let result = ''
			let split = new RegExp(`[a-z0-9а-яё_]+`, 'ig');
			let splitedText = Array.from(text.matchAll(split), m => m[0])
			console.log(splitedText);
			splitedText.forEach((el, index) => {
				numOfWords +=  phrases.indexOf(el.toLowerCase()) != -1 ? 1 : 0
				result += phrases.indexOf(el.toLowerCase()) != -1 ? `<mark id='mark-${counter++}'>${el}</mark> ` : el + ' ' 
			})
			return result
		}
		
	}

	function highlightAllWords(word, allWords, typeEntry = false, fields = []) {
		counter = 1
		numOfWords = 0

		$('.pop-up-find').addClass('show')
		$('.find-word').text(word)
		$('#counter-number').text(elNum)
		
		$('#editStatus').is(':checked') ? $('#editStatus').click() : null
		$('#editStatus').attr('disabled', 'disabled')
		document.querySelectorAll('.text-input').forEach(el => {
			console.log('fields contains: ',  fields, $(el).siblings('input, textarea').attr('id'), $(el).siblings('input, textarea'), allWords);
			if (!typeEntry) {
				el.innerHTML = markWord(el.innerHTML, word, allWords)
			} else if (fields.indexOf($(el).siblings('input, textarea').attr('id')) != -1) {
				el.innerHTML = markWord(el.innerHTML, word, allWords, typeEntry)
			}
			
		})

		$('#find-total').text(numOfWords)
		if (numOfWords != 0) {
			scroll(++elNum)
			$('#counter-number').text(elNum)
			!$(".show-btn-wrapper").hasClass("show") ? $(".show-btn").click() : null
		}
		
	}
</script>
<!-- кол во символов в полях -->
<script>
	// $(".currentAmount")
	// $(".maxAmount")
	function countSymbols(el) {
		$('.currentAmount', $(el).closest('.d-flex')).text($(el).val().length)
		if ($(el).val().length >= parseInt($('.maxAmount',  $(el).closest('.d-flex')).text())) {
			$('.count-symbols', $(el).closest('.d-flex')).addClass('tooMuchSymbols')
		} else {
			$('.count-symbols', $(el).closest('.d-flex')).removeClass('tooMuchSymbols')
		}
	}
	document.addEventListener('DOMContentLoaded',() => {
		$('input, textarea', $('.count-symbols').closest('.d-flex')).each((index, el) => {
			countSymbols(el)
			$(el).on('input', event => {
				countSymbols(el)
			})
		})
	})
</script>
<script>
	{% comment %}
	function formatDate(date) {

		var dd = date.getDate();
		if (dd < 10) dd = '0' + dd;

		var mm = date.getMonth() + 1;
		if (mm < 10) mm = '0' + mm;


		return date.getFullYear() + '-' + mm + '-' + dd;
	}
	{% endcomment %}
	let allPhrases = {% if all_phrases %}{{all_phrases | safe}}{% else %}[]{%endif%}
	$("#getTemplate").on("click", event => {
		console.log(allPhrases);
		allPhrases.length > 0 ? $("#check-text").val(allPhrases.join('\n')) : customSwal("У нас нет данных по ключевым запросам по этому SKU, используйте свой список.", {hideDelay: 5000, type: 'error'})

	})
	
</script>
{% endblock javascripts %} 

