{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Ecommerce Products List {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/promotion-by-keyword-style.css' %}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock stylesheets %} 

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}
<div class="container-fluid py-4">

	<div class="row">
		<div class="col-12 card">
			<div class='m-3'>
				<h5>Продвижение по ключевым фразам</h5>
				<p class="text-sm mb-0">Продвигайте свой товар в топ по ключевым фразам.</p>
			</div>
			
		</div>
		{% comment %} <div class="container-fluid mt-4">
			<div class="row align-items-center">
				<div class="col-lg-4 col-sm-8">
					<div class="nav-wrapper position-relative end-0">
						<ul class="nav nav-pills nav-fill p-1" role="tablist">
							<li class="nav-item">
								<a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="/buyout/" role="tab" aria-selected="true">
									Wildberries
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="/buyout?status=active/" role="tab" aria-selected="false">
									Ozon
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div> {% endcomment %}
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="card for-adapt">
				<div class="card-body">
					<h5 >Добавить задачу на продвижение по ключевым фразам</h5>
					<p class="text-sm mb-0"></p>
					<div class="col-12 col-sm-10 col-md-12 mt-3">
							<form action="/search-promotion/" method="post">
								{% csrf_token %}
							<select id="marketplace" type="text" name="marketplace" class="form-control" name="choices-sizes" id="choices-currency-edit">
								<option value="Wildberries" selected="">Wildberries</i></option>
								{% comment %} <option value="Ozon">Ozon</option> {% endcomment %}
								</select>
							<div class="col-12">
								<label>Укажите SKU товара</label>
									<span class="text-danger">{{ form.url.errors }}</span>
								<input id="sku" type="number" name="sku" class="multisteps-form__input form-control" placeholder="Введите артикул" />
							</div>
						<div class="row">
						</div>
						<div class="d-flex justify-content-end mt-4">
							<button  type="submit"  class="btn bg-gradient-primary m-0 ms-2" >Добавить</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8 mt-sm-0 mt-4">
			<div class="row">
					<div class="col-12">
						<div class="card">
							<!-- Card header -->
							<div class="card-header pb-0">
								<div class="d-lg-flex">
									<div>
										<h5 class="mb-0">Добавленные задания</h5>
										<p class="text-sm mb-0">
											Здесь отображаются активные и завершенные задачи.
										</p>
									</div>
									<div class="ms-auto my-auto mt-lg-0 mt-4">
										<div class="ms-auto my-auto">
											</button>
											<div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
												<div class="modal-dialog mt-lg-10">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="ModalLabel">Import CSV</h5>
															<i class="fas fa-upload ms-3"></i>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<p>You can browse your computer for a file.</p>
															<input type="text" placeholder="Browse file..." class="form-control mb-3">
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
																<label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button>
															<button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
														</div>
													</div>
												</div>
											</div>
											{% comment %} <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Экспорт</button> {% endcomment %}
										</div>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pb-0">
								<div class="table-responsive">
									<table class="table table-flush" id="products-list">
										<thead class="thead-light">
											<tr>
												<th>Продукт</th>
												<th>SKU</th>
												<th>Кол-во фраз</th>
												<th>Ср. позиция</th>
												{% comment %} <th>Кол-во выполняемых фраз</th> {% endcomment %}
												<th>Статус</th>
												<th>Дата созд.</th>
												<th>Действия</th>
											</tr>
										</thead>
										<tbody>
											{% for object in objects%}
											<tr>
												<td>
													<div class="product">
														<div class="product__image"><a target="_blank" href='https://www.wildberries.ru/catalog/{{object.product.sku}}/detail.aspx?targetUrl=XS'><img src="{{object.product.cover}}" alt="" title="{{object.product.title}}"></div>
													</div>
												</td>
												<td>{{object.product.sku}}</td>
												<td>{{object.phrase_count}}</td>
												<td>{{object.average_position}}</td>
												{% comment %} <td><a href="#" data-sku='74235438' class="btn btn-primary show-keywords" style="background-color: #af00ff;color: #fff;padding: 5px 10px;margin: 0 0 0 10px;">4 | Показать</a></td> {% endcomment %}
												{% comment %} <td>{{object.phrase_in_work}}</td> {% endcomment %}
												<td>{% if object.status == 'active'  %}
													<span class="badge badge-success badge-sm">активный</span>
													{% elif  object.status == 'stop' %}
													<span class="badge badge-danger badge-sm">остановлено</span>
													{% endif %}
												</td>
												<td>{{object.created_at}}</td>
												<td>
													<a href="{% url 'position-details' object.id %}" class='btn btn-primary' style='background-color:#007bff; margin-bottom: 0px;'>Подробнее</a>
													{% comment %} <a href="#" class="btn btn-primary" style="background-color: #e2574d;color: #fff; margin-bottom:0;">Остановить</a> {% endcomment %}
													{% if object.status == 'active'  %}
													<a href="{% url 'search-promotion-stop' object.id %}" class="btn btn-primary" data-bs-toggle="tooltip" style="background-color: #e2574d;color: #fff; margin-bottom:0;" >Остановить</a>
													{% elif  object.status == 'stop' %}
													<a href="{% url 'search-promotion-start' object.id %}" class="btn btn-primary" data-bs-toggle="tooltip" style="background-color: #67b108;color: #fff; margin-bottom:0;" >Включить</a>
													{% endif %}
													
												</td>
												
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="row mt-4 disable">
		<div class="card col-12">
			<div class="phrases row">
				<div class="draft col-6 adapt__table" style='padding-right: 10px;'>
					<div class="draft__field">
						<div class="draft__items">
							<table class="table table3" id="table3" style="margin-bottom: 0; font-size: .7em;">
								<thead class="thead-light">
									<tr>
										<th>№</th>
										<th class='border-right-left'>Ключевые слова</th>
										<th class='border-right-left'>Частотность</th>
										<th class='border-right-left'>Текущая позиция</th>
									</tr>
								</thead>
								<tbody style="border-top: 2px dotted #e3e3e3;" id="keywords">
								</tbody>
							</table>
						</div>
					</div>
					<div class="draft__add-to-keywords"><button class="btn btn-primary" tabindex="-1" style="background-color:#007bff; color: #fff; margin-bottom:0;max-width: 100%;width: 100%;display: block;padding: 5px;border-top-right-radius: 0;border-top-left-radius: 0;">Добавить</button></div>
				</div>
				<div class="custom__w-100"></div>
				<div class="col-6 adapt__table" style='padding-left: 10px;'>
					<div class="table-keywords">
						<table class="table table2" id="table2" style="margin-bottom: 0; font-size: .7em;">
							<thead class="thead-light">
								<tr>
									<th>№</th>
									<th class='border-right-left'>Ключевые слова</th>
									<th class='border-right-left'>Частотность</th>
									<th class='border-right-left'>Текущая позиция</th>
									<th></th>
								</tr>
							</thead>
							<tbody style="border-top: 2px dotted #e3e3e3;" id="keywords">
							{% for object in objects%}
							<tr>
									<th data-id="0">1</th>
								<th class='border-right-left'>{{object.product.title}}</th>
								<th class='border-right-left'>1100</th>
								<th class='border-right-left'>10</th>
								<th><div class="delete-keyword" style="width: 15px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#c9c9c9" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/></svg></div></th>
							</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row" style="justify-content: end;">
			<button style="
				width: 25%;
				margin: 0 10px 10px 0;
			" class="btn bg-gradient-primary" id="save_keywords">Сохранить</button></div>
			{% comment %} <a href="{% url 'position-details' object.id %}" class='btn btn-primary' style="width: 25%;margin: 0 10px 10px 0;">Сохранить</a> {% endcomment %}
		</div>
		</div>
	</div>
	
</div>
<div class="container-fluid py-4">
	</div>
	{% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} 
	<script src="/static/assets/js/plugins/sweetalert.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script>
		if ("{{error}}" == "False"){
			Swal.fire(
			'Ошибка',
			'{{ error_message }}',
			'error'
		)
			}
	</script>
	<script src="/static/assets/js/datatables.js"></script>
	<script>
		var dataTableSearch2 = $('#table2').DataTable({
				fixedHeight: false,
				searching: false,
				"bFilter": false,
				paging: false,
				"bInfo": false
			});
		var dataTableSearch3 = $('#table3').DataTable({
				fixedHeight: false,
				searching: false,
				"bFilter": false,
				paging: false,
				"bInfo": false
			});
		var dataTableSearch;
		if (document.getElementById('products-list')) {
			dataTableSearch = new simpleDatatables.DataTable("#products-list", {
				searchable: true,
				fixedHeight: false,
				perPage: 7
			});

			document.querySelectorAll(".export").forEach(function(el) {
				el.addEventListener("click", function(e) {
					var type = el.dataset.type;

					var data = {
						type: type,
						filename: "soft-ui-" + type,
					};

					if (type === "csv") {
						data.columnDelimiter = "|";
					}

					dataTableSearch.export(data);
				});
			});
		};
	</script>
	<script>
		$("#get-data-sku").on("click", event => {
			event.preventDefault()
			$.ajax({

				type: 'POST',
				url: '',
				data: {
				  'sku': $("#sku").val(),
				  'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				success: resp => {
					console.log(resp["resp"])
					
					dataTableSearch.rows().add(resp["resp"])
					var itemsShow = document.querySelectorAll(".show-keywords")
					itemsShow.forEach(el => {
						el.addEventListener("click", e => {
							try { // ЕСЛИ УЖЕ ОТКРЫТ, ЧТОБЫ НЕ КИДАЛО ОШИБКУ
								document.querySelector(".disable").classList.remove("disable")
							}
							catch {
								null
							}
							
							$.ajax({
								type: 'POST',
								url: '',
								data: {
								  'sku': e.target.dataset.id,
								  'csrfmiddlewaretoken': '{{ csrf_token }}',
								},
								async: false,
								success: resp => {
									$("#save_keywords").attr("data-sku", e.target.dataset.id)
									console.log(resp["resp"])
									keywordsActive = resp["resp"]["keywordsActive"]
									keywordsDraft = resp["resp"]["keywordsDraft"]
								}
							})
							formationDraft()
							formationActive()
						})
					})
				}
			})
		})
	</script>
	<script>
		function deleteKeyword(el) {
			console.log(el)
			var keys = Object.keys(keywordsDraft) // ПОЛУЧАЕТ КЛЮЧИ ОБЪЕКТА
			var last = keys[keys.length-1] || -1
			var countEl = parseInt(el.closest('tr').querySelector("td").innerHTML)
			console.log(countEl)
			console.log(keywordsActive)
			keywordsDraft[parseInt(last) + 1] = keywordsActive[parseInt(el.dataset.id)]
			console.log(keywordsActive[parseInt(el.dataset.id)], el.dataset.id)
			dataTableSearch2
				.row(el.closest('tr') )
				.remove().draw(false)
			addDraft(keywordsActive[parseInt(el.dataset.id)], parseInt(last) + 1, el.dataset.id)
			var itemsTable = document.querySelectorAll(".table2>tbody>tr")
			var allCounterNumbers = []
			itemsTable.forEach(el => {
				allCounterNumbers.push(el.querySelector("td"))
			})
			allCounterNumbers.forEach(el => {
				if (parseInt(el.innerHTML) > countEl) {
					dataTableSearch2.cell(`[data-id="${el.dataset.id}"]`).data(parseInt(el.innerHTML) - 1);
				}
			})
			dataTableSearch2.draw();
			// var itemsTable3 = document.querySelectorAll(".table3>tbody>tr")
			// var allCounterNumbers3 = []
			// itemsTable3.forEach(el => {
			// 	allCounterNumbers3.push(el.querySelector("td"))
			// })
			// allCounterNumbers3.forEach(el => {
			// 	if (parseInt(el.innerHTML) > countEl) {
			// 		dataTableSearch3.cell(`[data-id="${el.dataset.id}"]`).data(parseInt(el.innerHTML) - 1);
			// 	}
			// })
			// dataTableSearch3.draw();
		}
		function deleteDraft(el) {
			console.log(el)
			var keys = Object.keys(keywordsActive) // ПОЛУЧАЕТ КЛЮЧИ ОБЪЕКТА
			var last = keys[keys.length-1] || -1
			var countEl = parseInt(el.closest('tr').querySelector("td").innerHTML)
			dataTableSearch3
				.row(el)
				.remove().draw(false)
			var itemsTable3 = document.querySelectorAll(".table3>tbody>tr")
			var allCounterNumbers3 = []
			itemsTable3.forEach(el => {
				allCounterNumbers3.push(el.querySelector("td"))
			})
			allCounterNumbers3.forEach(el => {
				if (parseInt(el.innerHTML) > countEl) {
					dataTableSearch3.cell(`[data-id="${el.dataset.id}"]`).data(parseInt(el.innerHTML) - 1);
				}
			})
			dataTableSearch3.draw();
		}
		function updateDelete() {
				document.querySelectorAll(".delete-keyword").forEach(el => {
					el.addEventListener("click", () => deleteKeyword(el))
				} );
		}
		var keywordsDraft = { 
			0: {
				name: 'прорезыватель для зубов',
				frequency: 30,
				position: 50
			},
			1: {
				name: 'грызунок',
				frequency: 3210,
				position: 210
			},
			2: {
				name: 'детский сад',
				frequency: 450,
				position: 670
			},
			3: {
				name: 'грызунки детские',
				frequency: 230,
				position: 650
			},
		}
		var keywordsActive = {
			0: {
				name: 'деревяный грызунок {{object}}',
				frequency: 1100,
				position: 10
			},
			1: {
				name: 'грызунки силиконовые',
				frequency: 300,
				position: 18
			},
			2: {
				name: 'выпускной в детском саду',
				frequency: 1200,
				position: 7
			},
		}
		var itemsDraft = document.querySelector(".draft__items")
		function formationDraft() {
			dataTableSearch3.clear()
			var keys = Object.keys(keywordsDraft)
			keys.forEach(el => {
				// var btn = document.createElement("button")
				// btn.className = "draft__item"
				// btn.setAttribute("data-id", el)
				// btn.innerHTML = keywordsDraft[el].name
				// itemsDraft.append(btn)
				var rowNode = dataTableSearch3.row.add([ `<td >${parseInt(el)+1}</td>`,
							`<th class='border-right-left'>${keywordsDraft[el].name}</th>`,
							`<th class='border-right-left'>${keywordsDraft[el].frequency}</th>`,
							`<th class='border-right-left'>${keywordsDraft[el].position}</th>`]).draw(false).node()
				$(rowNode).addClass("table3__tr")
				$(rowNode).find('td').eq(0).addClass('count-numbers');
				$(rowNode).find("td").eq(0).attr("data-id", Math.ceil(Math.random() * 100000))
				$(rowNode).attr("data-id", el)
				$(rowNode).on("click", el => {
					// el.target.focus()
					console.log(el.target)
					if (!el.shiftKey) {

						if (!el.ctrlKey) {
							el.target.closest("tbody").querySelectorAll("tr").forEach(el => {
								el.classList.remove("tr__choice")
							})
						}
						$(rowNode).toggleClass("tr__choice")
					}
					else {
						if (!$(".tr__choice").length) {
							$(rowNode).addClass("tr__choice")
						} else {
							var whoPrev = document.querySelector(".tr__choice").compareDocumentPosition(el.target.closest("tr"))
							console.log(document.querySelector(".tr__choice").compareDocumentPosition(el.target.closest("tr")))
							if (whoPrev == 2) {
								$(".tr__choice").prevUntil($(rowNode), "tr").addClass("tr__choice")
							} else {
								$(".tr__choice").nextUntil($(rowNode), "tr").addClass("tr__choice")
							}
							$(rowNode).addClass("tr__choice")
						}
					}
				})
			})
		}
		
		function formationActive() {
			dataTableSearch2.clear()
			dataTableSearch2.data = []
			var keys = Object.keys(keywordsActive)
		
			keys.forEach(el => {
				
			var rowNode = dataTableSearch2.row.add([ `<td >${parseInt(el)+1}</td>`,
							`<th class='border-right-left'>${keywordsActive[el].name}</th>`,
							`<th class='border-right-left'>${keywordsActive[el].frequency}</th>`,
							`<th class='border-right-left'>${keywordsActive[el].position}</th>`,
							`<th><div class="delete-keyword" data-id="${el}" style="width: 15px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#c9c9c9" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/></svg></div></th>`]).draw(false).node()
			$(rowNode).find('td').eq(0).addClass('count-numbers');
			$(rowNode).find("td").eq(0).attr("data-id", Math.ceil(Math.random() * 100000))
			})
		
			console.log(keywordsDraft, keywordsActive)
			updateDelete()
		}
		function addDraft(keyword, key, el) {
			// var btn = document.createElement("button")
			// btn.className = "draft__item"
			// btn.setAttribute("data-id", key)
			// btn.innerHTML = keyword.name
			// itemsDraft.append(btn)
			// delete keywordsActive[el]
			var keys = Object.keys(keywordsDraft)
			console.log(keys.length)
			var rowNode = dataTableSearch3.row.add([ `<th class="count-numbers" data-id="${Math.ceil(Math.random() * 100000)}">${keys.length}</th>`,
								`<th class='border-right-left'>${keyword.name}</th>`,
								`<th class='border-right-left'>${keyword.frequency}</th>`,
								`<th class='border-right-left'>${keyword.position}</th>`]).draw(false).node()
			$(rowNode).addClass("table3__tr")
			$(rowNode).find('td').eq(0).addClass('count-numbers');
			$(rowNode).find("td").eq(0).attr("data-id", Math.ceil(Math.random() * 100000))
			$(rowNode).attr("data-id", key)
			$(rowNode).on("click", el => {
				// el.target.focus()
				console.log(el.target)
				if (!el.shiftKey) {

					if (!el.ctrlKey) {
						el.target.closest("tbody").querySelectorAll("tr").forEach(el => {
							el.classList.remove("tr__choice")
						})
					}
					$(rowNode).toggleClass("tr__choice")
				}
				else {
					if (!$(".tr__choice").length) {
						$(rowNode).addClass("tr__choice")
					} else {
						var whoPrev = document.querySelector(".tr__choice").compareDocumentPosition(el.target.closest("tr"))
						console.log(document.querySelector(".tr__choice").compareDocumentPosition(el.target.closest("tr")))
						if (whoPrev == 2) {
							$(".tr__choice").prevUntil($(rowNode), "tr").addClass("tr__choice")
						} else {
							$(".tr__choice").nextUntil($(rowNode), "tr").addClass("tr__choice")
						}
						$(rowNode).addClass("tr__choice")
					}
				}
			})
			delete keywordsActive[el]
		}
		function addKeyword(keyword, key) { // ДОБАВЛЕНИЕ В DOM ПРИ КЛИКЕ НА "ДОБАВИТЬ"
			var keys = Object.keys(keywordsActive)
			console.log(keys.length)
			var rowNode = dataTableSearch2.row.add([ `<th class="count-numbers" data-id="${Math.ceil(Math.random() * 100000)}">${keys.length}</th>`,
								`<th class='border-right-left'>${keyword.name}</th>`,
								`<th class='border-right-left'>${keyword.frequency}</th>`,
								`<th class='border-right-left'>${keyword.position}</th>`,
								`<th><div class="delete-keyword" data-id="${key}" id="delete-keyword${key}" style="width: 15px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#c9c9c9" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"/></svg></div></th>`]).draw(false).node()
			$(rowNode).find('td').eq(0).addClass('count-numbers');
			$(rowNode).find("td").eq(0).attr("data-id", Math.ceil(Math.random() * 100000))
			document.querySelector(`#delete-keyword${key}`).addEventListener('click', () =>  deleteKeyword(document.querySelector(`#delete-keyword${key}`)))
		}
		$('.draft__add-to-keywords>button').on('mousedown', function() { // УБИРАЕТ ФОКУСИРОВКУ НА КНОПКУ
			return false;
		});
		document.querySelector(".draft__add-to-keywords>button").addEventListener("click", () => { // ПОЛНАЯ ФУНКЦИЯ ДОБАВЛЕНИЯ ПРИ КЛИКЕ НА "ДОБАВИТЬ"
			// var focusEl = document.activeElement // ПОЛУЧАЕТ ЭЛЕМЕНТ, НА КОТОРОМ ФОКУС
			// if (focusEl.classList.contains("table3__tr")) { // ЭЛЕМЕНТ ИЗ ЧЕРНОВИКА?
				// console.log(keywordsDraft[focusEl.dataset.id])
				// var keys = Object.keys(keywordsActive) // ПОЛУЧАЕТ КЛЮЧИ ОБЪЕКТА
				// var last = keys[keys.length-1] || -1
				// console.log(keys, last)
				// keywordsActive[parseInt(last) + 1] = keywordsDraft[focusEl.dataset.id] // ДОБАВЛЯЕМ ОБЪЕКТ В АКТИВНЫЕ КЛЮЧЕВЫЕ ФРАЗЫ
				// addKeyword(keywordsDraft[focusEl.dataset.id], parseInt(last) + 1) 
				// focusEl.remove() // УДАЛЯЕМ ИЗ DOM
				// delete keywordsDraft[focusEl.dataset.id] // УДАЛЯЕМ ИЗ ОБЪЕКТА
			// }
			if ($(".tr__choice")) {
				var el = document.querySelectorAll(".tr__choice")
				el.forEach(elem => {
					var keys = Object.keys(keywordsActive) // ПОЛУЧАЕТ КЛЮЧИ ОБЪЕКТА
					var last = keys[keys.length-1] || -1
					keywordsActive[parseInt(last) + 1] = keywordsDraft[elem.dataset.id] // ДОБАВЛЯЕМ ОБЪЕКТ В АКТИВНЫЕ КЛЮЧЕВЫЕ ФРАЗЫ
					addKeyword(keywordsDraft[elem.dataset.id], parseInt(last) + 1) 
					deleteDraft(elem)
					delete keywordsDraft[elem.dataset.id] // УДАЛЯЕМ ИЗ ОБЪЕКТА
				})
			}
		})
		var itemsShow = document.querySelectorAll(".show-keywords")
		itemsShow.forEach(el => {
			el.addEventListener("click", e => {
				try { // ЕСЛИ УЖЕ ОТКРЫТ, ЧТОБЫ НЕ КИДАЛО ОШИБКУ
					document.querySelector(".disable").classList.remove("disable")
				}
				catch {
					null
				}
				
				$.ajax({
					type: 'POST',
					url: '',
					data: {
					  'sku': e.target.dataset.id,
					  'csrfmiddlewaretoken': '{{ csrf_token }}',
					},
					async: false,
					success: resp => {
						console.log(resp["resp"])
						keywordsActive = resp["resp"]["keywordsActive"]
						keywordsDraft = resp["resp"]["keywordsDraft"]
					}
				})
				formationDraft()
				formationActive()
			})
		})

	</script>
	<script src="/static/assets/js/plugins/sweetalert.min.js"></script>
{% endblock javascripts %}
