{% extends 'layouts/base.html' %}

{% block title %} Ecommerce Products List {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
      <div class="row gx-4">
        <div class="col-auto">
        </div>
        <div class="col-auto my-auto mt-2">
           <div class="h-100">
            <h2 class="font-weight-bolder mb-0">Управление рекламным кабинетом</h2>
          </div>
          <hr class="horizontal dark my-3">
          <div class='col-12'>
            <p class="fw-normal">Скоро будет на платформе</p>
            
        </div> 
        </div>
        
    </div>
    
    
    </div>
    
  </div>
  <div class="container-fluid py-4">
    
  </div>
  </div>
</div>

    {% include "includes/footer.html" %}
    
  
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} 

  <script src="/static/assets/js/datatables.js"></script>
  <script src="/static/assets/js/jquery.js"></script>
  <script src="/static/assets/js/plugins/sweetalert.min.js"></script>

{% endblock javascripts %}
