{% extends 'layouts/base.html' %} 
{% load static %} 
 
{% block title %} Ecommerce Products List {% endblock title %} 
 
<!-- Specific CSS goes HERE --> 
{% block stylesheets %} 
 
<style>
    /* Таблица */
    .product__image {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        overflow: hidden;
    }
    .product__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    thead tr > th {
        text-transform: unset !important;
    }
    td {
        padding: 0.25rem 0.5rem;
        text-align: center;
        vertical-align: middle;
    }
    table {
        border-collapse: unset;
    }

    .rate__body {
        display: inline-block;
        position: relative;
        font-size: 40px;
    }
    .rate__body::before {
        content: '★★★★★';
        display: block;
    }
    .rate__active {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;

        overflow: hidden;
    }
    .rate__active::before {
        content: '★★★★★';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #ffeb3b;
    }

    .with-img {
        height: 8px;
        border-radius: 4px;
        background-color: #cacaca;
        overflow: hidden;
    }
    .range {
        width: 60%;
        height: 100%;
        font-size: 0;
        background: linear-gradient(90deg, rgba(103,214,103,1) 0%, rgba(66,194,1,1) 100%);
    }
    .td-img {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .export-btn {
        display: flex;
        justify-content: end;
        margin: 10px;
    }
</style>

<!-- Стили для таблицы со схожими словами из отзывов -->
<style>
    .form-control__custom {
        display: inherit;
        width: inherit;
    }
    .products-sortable {
        display: flex;
    }
    .products-table {
        overflow: auto;
    }
    .products-table img {
        width: 75px;
    }
    .products-sortable__brand {
        margin-left: 15px;
    }
    .dataTables_paginate svg{
        width: 20px;
    }
    .dataTables_paginate {
        padding-top: 1.3em !important;
    }
    .dataTables_info {
        padding-top: 2em !important;
    }
    .dataTables_paginate .paginate_button {
        margin-left: 10px !important;
        transition: all 0.4s ease !important;
        cursor: pointer !important;
    }
    .dataTables_paginate .paginate_button.current {
        border-radius: 50% !important;
        background: #d1f0ff !important;
        box-shadow: 0 0 10px 0px #d1f0ff !important;
        border: 1px solid #d1f0ff !important;
    }

    .dataTables_paginate .paginate_button:hover {
        border-radius: 50% !important;
        color: #3f4446 !important;
        background: #a9e0fb !important;
        box-shadow: 0 0 10px 1px #a9e0fb !important;
        border: 1px solid #a9e0fb !important;
        margin-left: 10px !important;
        color: #fff !important;
    }
    .dataTables_paginate .paginate_button path {
        transition: all 0.4s ease !important;
    }
    .dataTables_paginate .paginate_button:hover path{
        fill: #fff;
    }
    .dataTables_length > label > .select2 {
        width: 70px !important;
        display: inline-block;
    }
    .paging_simple_numbers {
        margin-right: 25px;
    }
    input, select {
        outline: none;
    }
    .dataTables_scrollHeadInner, table.feedback-table {
        width: 100% !important;
        min-width: 937px !important;
    }
    th.sorting {
        text-align: center !important;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
{% endblock stylesheets %}  
 
{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %} 

{% block content %} 
<div class="container-fluid py-4">
    <div class="card">
        <div class="card-body px-0 pb-0">
            <div class="table-responsive">
                <table class="table table-flush" id="products-list">
                    <thead class="thead-light">
                        <tr>
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Отзывы</th>
                            <th>Кол-во отзывов</th>
                            <th>С фото</th>
                            <th>SKU</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="td-img">
                                <div class="product__image"><img src="{{ product.cover }}" alt=""></div>
                                <div>{{ product.title }}</div>
                            </td>
                            <td>{{ product.price }}₽</td>
                            <td>
                                <div class="rate__body" title="{{ product.average_rate }}" data-bs-toggle="tooltip">
                                    <div class="rate__active">{{ product.average_rate }}</div>
                                </div>
                            </td>
                            <td>{{ product.feedbacks }}</td>
                            <td><div class="with-img" title="{{ product.feedbacks_photo }}" data-bs-toggle="tooltip"><div class="range">{{ product.feedbacks_photo }}</div></div></td> <!-- 100 - количество отзывов с фото  -->
                            <td>{{ product.sku }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <div class="card-body">
            <h4>Схожие слова из отзывов</h4>
            <div class="export-btn">
                <div class="dropdown download">
                    <button class="btn btn-outline-primary btn-sm mb-0 mt-sm-0 mt-1" data-bs-toggle="dropdown" type="button" name="button" aria-haspopup="true" aria-expanded="false" id="download">Экспорт</button>
                    <div class="dropdown-menu mt-0" aria-labelledby="download" >
                        <a class="dropdown-item export" onclick="export_data('xlsx');" data-type="xlsx">Скачать XLSX</a>
                        <a class="dropdown-item export" onclick="export_data('csv');" data-type="csv">Скачать CSV</a>
                    </div>
                </div>
            </div>
            <div class="products-table">
                <table class="table feedback-table">
                    <thead>
                        <th>Артикул</th>
                        <th>Ключевое слово</th>
                        <th>Тип</th>
                        <th>Количество</th>
                        <th>Фраза</th>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        {% for root in product.roots %}
                        <tr>
                            <td title="Артикул" data-bs-toggle="tooltip">
                                <a href="https://www.wildberries.ru/catalog/{{ root.sku }}/detail.aspx" target="_blank">{{ root.sku }}</a>
                            </td>
                            <td data-bs-toggle="tooltip" title="Ключевое слово">
                                {{ root.root }}
                            </td>
                            <td title="Тип" data-bs-toggle="tooltip">
                                {% if root.type == 'positive' %} Позитивный {% else %} Негативный {% endif %}
                            </td>
                            <td title="Количество" data-bs-toggle="tooltip">
                                {{ root.count }}
                            </td>
                            <td title="Название" data-bs-toggle="tooltip">
                                {{ root.phrases }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
 
 
{% endblock content %} 
 
<!-- Specific JS goes HERE -->  
{% block javascripts %}  
<script src="/static/assets/js/plugins/sweetalert.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Создание таблицы -->
<script>
    $('div.dataTables_filter input').addClass('form-control').addClass('form-control__custom')
		var apiSearch = $('#api__search').select2({
			theme: "bootstrap",
			minimumResultsForSearch: Infinity,
		});
		var brandSearch = $('#brand__search').select2({
			theme: "bootstrap",
			minimumResultsForSearch: Infinity,
		}); 
		var dataTablesLength = $('.dataTables_length > label > select').select2({
			theme: "bootstrap",
			minimumResultsForSearch: Infinity,
		});
        var dataTableSearch = $('.feedback-table').DataTable({ 
            scrollX: true, 
            language: { 
             info: "Показано от _START_ до _END_ из _TOTAL_", 
             search: "Поиск:", 
             lengthMenu: "Показывать сразу _MENU_", 
             paginate: { 
              first: "Первый", 
              last: "Последний", 
              next: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>', 
              previous: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M109.3 288L480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288z"/></svg>', 
             }, 
             infoEmpty: "Показано 0 из 0 из _MAX_", 
             infoFiltered: "", 
             zeroRecords: "Ничего не найдено" 
            },
         })
</script>

<!-- Рейтинг отзывов -->
<script>
    $(document).ready(() => {
        // Заполненность звезд в столбце "Отзывы"
        document.querySelectorAll('.rate__active').forEach(el => {
            el.setAttribute('style', `width: ${el.innerHTML / 5 * 100}%;`)
        })
    
        // Полоска отзывов с фото
        document.querySelectorAll('tbody tr').forEach(el => {
            const numOfFeedback = el.children[3].innerHTML
            const range = el.querySelector('.range')
            const percentageOfReviews = range.innerHTML / numOfFeedback * 100
            
            range.setAttribute('style', `width: ${percentageOfReviews}%;`)
            if (percentageOfReviews < 50) range.setAttribute('style', `width: ${percentageOfReviews}%; background: linear-gradient(90deg, rgba(255,141,0,1) 0%, rgba(255,0,0,1) 100%);`)
        })
    })
</script>

<script>
function export_data(type){
    url = window.location.href.split('/');
    taskId = url[url.length - 1];
    window.location.href = '/export-review' + '?taskId=' + taskId + '&type=' + type;

}
</script>
{% endblock javascripts %}
